/* fonts */
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

/* body */
body{
  margin: unset;
}

/* header */
header{
  background-color: rgba(52,52,52);
  overflow: hidden;
}
header > nav{
  overflow: hidden;
}
header > nav > ul{
  padding: unset;
  list-style-type: none;
  margin: unset;
  overflow: hidden;
}
header > nav > ul > li{
  float: left;
  width: calc(40% / 4);
  text-align: center;
}
header > nav > ul > li:nth-last-child(1){
  float: right;
}
header > nav > ul > li > a{
  display: block;
  padding: 10%;
  font-size: 35px;
  text-decoration: none;
  font-family: "Nanum Gothic";
  color: rgba(255,255,255);
}
header > nav > ul > li:hover{
  background-color: rgba(40,40,40);
}
header > nav > ul > li:hover > a{
  animation: jump .25s linear 1;
}
@keyframes jump{
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(-5px);
  }
  100%{
    transform: translateY(0px);
  }
}
